@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia');

* {
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(
    to bottom,
    #020921 0%,
    #020921 143px,
    #000312 144px,
    #000312 100%
  );
  background-attachment: fixed;
  background-color: black;
  color: white;
  font-size: .8rem;
  min-height: 100vh;
}

.site {
  max-width: 844px;
  margin: auto;
}

.container {
  background-color: #000312;
  box-shadow: 0 .2rem 1.5rem black;
}

header {
  height: 178px;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 19.5rem;
  height: auto;
  margin: .4rem 1rem;
}

nav {
  padding: .25rem 1rem .1rem;
  text-align: right;
  background-color: rgba(0, 0, 0, .7);
}

.nav-btn {
  margin: 0 .75rem;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'UnifrakturMaguntia', serif;
  font-size: 1.5rem;
}

main {
  padding: .75rem 1.75rem;
  display: flex;
  justify-content: space-between;
}

main > div, figure, article, section, aside, .social > a {
  margin: .75rem;
}

.cat {
  flex-wrap: wrap;
}

.aut, .con {
  justify-content: space-around;
  padding: .75rem 0;
}

.aut img {
  width: 13rem;
  height: auto;
}

.con, .btn, .index {
  padding: .75rem;
}

.con, .cardrel {
  text-align: center;
}

.content {
  display: grid;
}

figure {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.cover {
 margin: 0 2.25rem 0 0;
}

aside {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

aside > .btn {
  border: .01rem solid #8f8f8f;
  padding: .75rem 2rem;
}

aside p {
  font-size: .65rem;
  color: #686868;
}

.howtobuy {
  margin: 2.4rem .2rem 0;
  width: 12rem;
}

article {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

article > div {
  margin-bottom: 1.5rem;;
  font-size: .75rem;
}

article > div:last-child {
  margin-bottom: 0;
}

.specs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.buy {
  border: .01rem solid #8f8f8f;
  padding: .75rem 0;
}

.buy, .btn {
  border-radius: .75rem;
}

.buy > .btn:nth-child(2) {
  border-left:  .001rem solid #8f8f8f;
  border-radius: 0 .75rem .75rem 0;
}

h1 {
  font-size: 1.1rem;
}

h2 {
  font-size: .8rem;
  font-weight: lighter;
}

figure img, .filler, .cardrel img {
  width: 12rem;
  height: auto;
  box-shadow: .15rem .15rem .1rem white;
}

.filler {
  height: 0;
  margin: 0 .75rem;
}

.index {
	background-color: #fff0ed;
	margin: .75rem 0;
	border-radius:.75rem;
	color: #000;
}

.entry {
	margin: 0 1em;
	font-style: italic;
}

section {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

section > .rel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardrel {
  font-size: .65rem;
  max-width: 9rem;
}

.cardrel img {
  width: 6rem;
  margin: 1.25rem 1.5rem .25rem;
}

.vers {
  font-size: .6rem;
}

.msg {
  width: 13rem;
  margin: auto;
  font-weight: 600;
}
.msg-warning {
  color: yellowgreen;
}
.msg-error {
  color: firebrick
}

form {
  border: .1rem solid #121921;
  border-radius: .75rem;
  padding: 1rem;
  margin: 1rem;
}

form > div > label {
  text-align: right;
  width: 3.5rem;
  font-weight: bold;
  display: inline-block;
}

input, textarea, select {
  width: 14rem;
  margin: .3rem .5rem;
  border-radius: 0;
  vertical-align: middle;
}

select {
  width: 14.45rem;
}

textarea {
  font-size: .85rem;
}

.social img {
  width: 5rem;
  margin: 0;
}

.social > a {
  font-size: 1.5rem;
}

footer p, .cardrel {
  font-family: Tahoma, sans-serif;
  font-weight: bold;}

footer p {
  font-size: .55rem;
  color: #686868;
  padding: .25rem .5rem;
}

.error {
  width: 100%;
  text-align: center;
  display: block;
  padding: 1rem;
}

.error .e404 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

a:link, a:visited, a:active, .nav-btn, .shade {
  text-decoration: none; 
  color: #8f8f8f;
}
a:hover, .nav-btn:hover {
  color: white;
}
.aut img:hover {
  filter: drop-shadow(.003rem .003rem .1rem #fff0ed);
}
a:focus {
  outline: 0;
}
a > img, .nav-btn {
  border: 0;
}

.logo, .nav-btn {
  cursor: pointer;
}
.fade, .unfade:hover {
  opacity: 1;
}
.fade:hover, .unfade {
  opacity: .6;
}
.book:hover {
  filter: grayscale(100%);
}

@media screen and (max-width: 844px) {
  .specs {
    flex-flow: column;
    align-items: flex-start;
  }
  .buy {
    margin-top: 1.25rem;
  }
}

@media screen and (max-width: 758px) {
  main {
    justify-content: space-evenly;
  }
  figure, aside {
    margin: .75rem 1rem;
  }
  .filler {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 582px) {
  header {
    position: fixed;
    z-index: 1;
  }
  .logo {
    margin-left: 1.15rem;
  }
  header, nav, main, .content {
    text-align: center;
  }
  main, .aut, .con, .content {
    padding-top: 190px;
  }
  .content {
    flex-direction: column;
  }
  .cover {
    margin: 0;
  }
  article {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .specs {
    align-items: center;
  }
  .index {
    margin-bottom: -.5rem;
  }
  section {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  section > div {
    justify-content: space-evenly;
  }
  aside {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    padding: .75rem 0;
  }
  aside > .btn {
    margin-left: 0;
  }
  .howtobuy {
    width: auto;
    margin-top: 2.5rem;
  }
  .none {
    display: none;
  }
  form > div > label {
    text-align: center;
    margin-top: .5rem;
  }
  form > div:first-child > label {
    margin-top: 0;
  }
  footer {
    text-align: center;
    margin: 0 0 0 -.2rem;
  }
}

@media screen and (max-width: 372px) {
  header {
    height: 124px;
  }
  .logo {
    width: 80%;
  }
  nav {
    padding: .25rem .25rem .1rem;
  }
  .nav-btn {
    width: 29%;
    margin: 0 .3rem;
    font-size: 1.3rem;
  }
  main, .aut, .con, .content {
    padding-top: 136px;
  }
  aside > .btn {
    margin: -.75rem 0 -1.75rem;
    display: block;
  }
}

@media screen and (max-width: 322px) {
  .buy > .btn {
    display: block;
    justify-content: center;
    margin: -.75rem 0;
  }
  .buy > .btn:nth-child(2) {
    border-left:  0rem;
    border-top:  .01rem solid #8f8f8f;
    border-radius: 0 0 .75rem .75rem;
    margin: .75rem 0 -.75rem;
  }
}
