@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia');

* {
  margin: 0;
}

body {
  background: linear-gradient(
    to bottom,
    #020921 0%,
    #020921 143px,
    #000312 144px,
    #000312 100%
  );
  background-attachment: fixed;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  min-height: 100vh;
}

.site {
  max-width: 844px;
  margin: auto;
}

.container {
  background-color: #000312;
  box-shadow: 0 0.2rem 1.5rem black;
}

header {
  height: 178px;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 19.5rem;
  height: auto;
  margin: 0.4rem 1rem;
}

nav {
  padding: 0.25rem 1rem 0.1rem;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-btn {
  margin: 0 0.75rem;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'UnifrakturMaguntia', serif;
  font-size: 1.5rem;
}

main {
  padding: 0.75rem 1.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main > div {
  margin: 0.75rem;
}

.card img, .filler {
  width: 12rem;
  height: auto;
  box-shadow: 0.15rem 0.15rem 0.1rem white;
}

.filler {
  height: 0;
  margin: 0 0.75rem;
}

footer {
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: bold;
  font-size: 0.55rem;
  color: #686868;
  padding: 0.25rem 0.5rem;
}

a:link, a:visited, a:active, .nav-btn {
  text-decoration: none; 
  color: #8f8f8f;
}
a:hover, .nav-btn:hover {
  color: white;
}
a:focus {
  outline: 0;
}
a > img, .nav-btn {
  border: 0;
}

.logo, .nav-btn, .book {
  cursor: pointer;
}
.fade, .unfade:hover {
  opacity: 1;
}
.fade:hover, .unfade {
  opacity: .6;
}
.book:hover {
  filter: grayscale(100%);
}

@media screen and (max-width: 758px) {
  main {
    justify-content: space-evenly;
  }
  .card {
    margin: .75rem 1rem;
  }
  .filler {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 582px) {
  header, nav, main {
    text-align: center;
  }
  main {
    flex-direction: column;
    padding-top: 190px;
  }
  header {
    position: fixed;
  }
}

@media screen and (max-width: 370px) {
  .logo {
    width: 18rem;
  }
  nav {
    padding: 0.25rem 0.25rem 0.1rem;
  }
  .nav-btn {
    margin: 0 0.2rem;
  }
}
